{{ range .Site.Menus.main.ByWeight }}
  {{ if .HasChildren }}
    <div class="navbar-item has-dropdown is-hoverable">
      <a href="{{ .URL }}" class="navbar-item">{{ .Name }}</a>
      <div class="navbar-dropdown labs-mobile-dropdown">
        {{ range .Children }}
          <a href="{{ .URL }}" class="navbar-item">{{ .Name }}</a>
        {{ end }}
      </div>
    </div>
  {{ else }}
    <a href="{{ .URL }}" class="navbar-item">{{ .Name }}</a>
  {{ end }}
{{ end }}

<div class="navbar-item has-dropdown is-hoverable">
  <a href="/contact" class="navbar-item">Be Social</a>
  <div class="navbar-dropdown is-right labs-mobile-dropdown">
    {{ range .Site.Menus.social.ByWeight }}
      <a href="{{ .URL }}" class="navbar-item">
        <span class="icon is-medium">
          {{ .Pre }}
        </span>
        {{ .Name }}
      </a>
    {{ end }}
  </div>
</div>
