body{
  font-family: 'Roboto Mono', monospace;
  padding-top:90px;
}
#content{
  width: 100vw;
}
.google-maps iframe {
    width: 100% !important;
}
.labs-navbar{
  height: 90px;
}
.labs-hero-photo-background{
  background: url("./../img/nesa-by-makers-IgUR1iX0mqM-unsplash-3000w.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: 100vw !important;
}
.labs-overlay{
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
}
.labs-logo svg{
  width: auto;
}
.labs-burger{
  height:auto;
}
.icons a {
  display: inline-block;
}

.homepage.scroll-btn {
  border: 2px solid #FFFFFF;
  display:inline-block;
  border-radius: 10px;
  padding: 15px;
  color:#FFFFFF;
  margin-left: 30px;
  margin-right: 30px;
}
.homepage.scroll-btn:hover {
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 10px;
  padding: 15px;
}

.labs-has-text-white .subtitle, .labs-has-text-white h1, .labs-has-text-white > h2, .labs-has-text-white h3, .labs-has-text-white h4, .labs-has-text-white h5, .labs-has-text-white h6{
  color: #ffffff;
}
.labs-nav-logo svg{
  max-height: 5rem;
}
.labs-scroll {
  position: relative;
  display: inline-block;
}
.labs-arrow {
  font-size: 2rem;
  position: absolute;
}
.labs-arrow.left {
  left:0;
}
.labs-arrow.right {
  right:0;
}
.labs-border{
  border: 5px dotted #222;
  border-radius: 25px;
}

.footer a + a:before {
    content: " | ";
}

.labs-mobile-head{
  padding:32px;
}

@media only screen and (max-width: 1024px){
  .labs-mobile-dropdown .navbar-item{
    display: inline-block;
  }
}
