<footer class="footer">
  <div class="content has-text-centered">
    <div>
      801Labs is a 501(c)(3) charitable non-profit organization!
    </div>
    <address>
      353 East 200 South Suite #B, Salt Lake City, UT 84111
    </address>
    {{- partial "menus/footer-menu.html" . -}}
  </div>
</footer>

<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
<script src="{{ "js/meetup-api.js" | relURL }}" charset="utf-8"></script>
<script src="{{ "js/script.js" | relURL }}" charset="utf-8"></script>
</body>
</html>
