<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ site.Title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="{{ "css/style.css" | relURL }}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="favicon.png">
	<link rel="stylesheet" type="text/css" href="//wpcc.io/lib/1.0.2/cookieconsent.min.css"/><script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js"></script><script>window.addEventListener("load", function(){window.wpcc.init({"border":"thin","colors":{"popup":{"background":"#ffe4e1","text":"#000000","border":"#c25e5e"},"button":{"background":"#c25e5e","text":"#ffffff"}},"content":{"message":"COVID-19 has forced 801 Labs to temporarily change our physical policy. We will be closed until further notice.","href":"https://www.801labs.org/files/March16-PublicNotice.pdf"},"margin":"large","padding":"small","fontsize":"small","corners":"small","position":"top-right"})});</script>
</head>
