{{ define "main" }}
    <main aria-role="main">
      <div class="homepage-content">

<!-- MOBILE -->
        <section class="section is-hidden-tablet">
                  <div class="content has-text-centered">
                    <h2 class="subtitle">
                      A Community Hackerspace focused on Education for Information Technology, Electronics, and Information Security Enthusiasts
                    </h2>
                    <div class="buttons is-centered">
                      <!--<a href="{{ .Site.Params.paypalLink }}" class="button is-dark">
                        <span class="icon">
                          <i class="fab fa-paypal"></i>
                        </span>
                        <span>Donate</span>
                      </a>-->
                      <a href="/volunteer/" class="button is-black is-outlined">
                        <span class="icon">
                          <i class="fas fa-hands"></i>
                        </span>
                        <span>Volunteer</span>
                      </a>
                      <a href="{{ .Site.Params.chatLink }}" class="button is-black is-outlined">
                        <span class="icon">
                          <i class="fab {{ .Site.Params.chatIcon }}"></i>
                        </span>
                        <span>Join {{ .Site.Params.chatName }}</span>
                      </a>
                      <a href="/location-and-hours/" class="button is-black is-outlined">
                        <span class="icon">
                          <i class="fa fa-location-arrow"></i>
                        </span>
                        <span>Visit us!</span>
                      </a>
                    </div>
                  </div>
        </section>

<!-- DESKTOP -->
        <section class="labs-hero-photo-background is-hidden-mobile">
            <div class="labs-overlay has-text-white labs-has-text-white">
        <div class="columns is-vcentered">
          <div class="column has-text-right">
            <!-- animate white svg <object class="labslogo" data="801Labs_black.svg" type="image/svg+xml"></object> -->
            <span class="labs-logo">
              {{- partial "logos/801Labs_white.svg" . -}}
            </span>
          </div>
          <div class="column has-text-left">
            <h2 class="subtitle">
               Community Hackerspace focused on Education for Information Technology, Electronics, and Information Security Enthusiasts
            </h2>

            <div class="buttons">
              <!--<a href="{{ .Site.Params.paypalLink }}" class="button is-white is-outlined">
                <span>Donate</span>
              </a>-->
              <a href="/volunteer/" class="button is-white is-outlined">
                <span>Volunteer</span>
              </a>
              <a href="{{ .Site.Params.chatLink }}" class="button is-white is-outlined">
                <span>Join {{ .Site.Params.chatName }}</span>
              </a>
            </div>

            <div class="labs-scroll">
              <span class="labs-arrow left">&darr;</span>
              <a href="#answers" class="homepage scroll-btn">scroll down a little more</a>
              <span class="labs-arrow right">&darr;</span>
            </div>
          </div>
        </div>
        </div>
        </section>
<!-- END DESKTOP -->

        <!-- content/_index.html -->
        {{- partial "content.html" . -}}
      </div>
    </main>
{{ end }}
